.navbar-logo {
    height: 60px;
    margin-right: 15px;
}

.image-wrapper {
    text-align: center;
}

.view-image {
    height: 150px;
    margin-bottom: 20px;
    object-fit: cover;
}

.footer {
    background-color: #FFFFFF;
    text-align: center;
}

.p20 {
    padding: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.main {
    min-height: 85vh;
    padding: 30px 5%;
}