body,
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F8FEFF;
  font-family: Hiragino Maru Gothic Pro W4;
}

footer {
    background-color: #BCF8FF;
    text-align: center;
    margin-top: auto;
    padding: 20px;
}

.navbar-logo {
    height: 35px;
    margin-right: 10px;
}

.navbar {
    background-color: #BCF8FF;
}

.image-wrapper {
    position: relative;
}

.image-wrapper .caption-title {
    font-size: 130%;
	text-align: center;
    color: #fff;
    padding-top: 10vh;
}

.image-wrapper .caption-gamename {
    position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	margin: 0;
	padding: 5px 10px;
	width: 100%;
    background: #000;
	filter: Alpha(opacity=70);
    opacity: 0.7;
    line-height: 1;
}

.image-wrapper .mask {
    width: 100%;
	height:	100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0.4);
	-webkit-transition:	all 0.2s ease;
	transition:	all 0.2s ease;
}

.image-wrapper:hover .mask {
    opacity: 1;
}

.image-col img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.image-col .col-md-4,.col-md-6,.col-md-12 {
    padding: 0;
}