.navbar-logo {
    height: 35px;
    margin-right: 10px;
}

.image-wrapper {
    text-align: center;
}

.image-wrapper-index {
    position: relative;
}

.image-wrapper-index .caption-title {
    font-size: 130%;
	text-align: center;
    color: #fff;
    padding-top: 10vh;
}

.image-wrapper-index .caption-gamename {
    position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	margin: 0;
	padding: 5px 10px;
	width: 100%;
    background: #000;
	filter: Alpha(opacity=70);
    opacity: 0.7;
    line-height: 1;
}

.image-wrapper-index .mask {
    width: 100%;
	height:	100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0.4);
	-webkit-transition:	all 0.2s ease;
	transition:	all 0.2s ease;
}

.image-wrapper-index:hover .mask {
    opacity: 1;
}

.index-2col img {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.index-2col .col-md-6 {
    padding: 0;
}

.view-image {
    height: 150px;
    margin-bottom: 20px;
    object-fit: cover;
}

.view-image-games {
    height: 150px;
    object-fit: cover;
}

.footer {
    background-color: #BCF8FF;
    text-align: center;
}

.p20 {
    padding: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.navbar {
    background-color: #BCF8FF;
}