body,
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #F8FEFF;
  font-family: Hiragino Maru Gothic Pro W4;
}

footer {
    background-color: #BCF8FF;
    text-align: center;
    margin-top: auto;
    padding: 20px;
}

.navbar-logo {
    height: 35px;
    margin-right: 10px;
}

.navbar {
    background-color: #BCF8FF;
}

.image-wrapper {
    position: relative;
}

.image-wrapper .caption-title {
    font-size: 130%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.image-wrapper .caption-gamename {
    position: absolute;
	left: 0;
	bottom: 0;
	color: #fff;
	margin: 0;
	padding: 5px 10px;
	width: 100%;
    background: #000;
	filter: Alpha(opacity=70);
    opacity: 0.7;
    line-height: 1;
}

.image-wrapper .mask {
    width: 100%;
	height:	100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0.4);
	-webkit-transition:	all 0.2s ease;
	transition:	all 0.2s ease;
}

.image-wrapper:hover .mask {
    opacity: 1;
}

.image-col img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.image-col .col-md-4,.col-md-6 {
    padding: 0;
}

.top-image .jumbotron {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: white;
    position: relative;
}

.top-image .jumbotron::before {
    content: ' ';
    background-color: rgba(0,0,0,.4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.games-search-image img {
    height: 180px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.games-search-data p {
    font-size: 0.95rem;
}

.games-show-image img {
    height: 500px;
    object-fit: cover;
}

/* .games-index-sidebar .card {
    background-color: initial;
    border: initial;
}

.games-index-sidebar .card-header {
    background-color: initial;
    border-bottom: initial;
} */

.games-index-sidebar ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
#accordion_menu > li {
    border: #ccc 1px solid;
    margin-bottom: -1px;
}
#accordion_menu a{
    color: #666;
}
#accordion_menu a[data-toggle="collapse"]{
    display: block;
    padding: 10px;
    text-decoration: none;
  position: relative;
}
#accordion_menu a[data-toggle="collapse"]:hover{
    background: #e7e7e7;
}
#accordion_menu a[data-toggle="collapse"]::after{
    content:"";
    display: block;
    width: 8px;
    height: 8px;
    border-top: #666 1px solid;
    border-right: #666 1px solid;
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
}
#accordion_menu a[aria-expanded=false]::after{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition-duration: 0.3s;
}
#accordion_menu a[aria-expanded=true]::after{
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    transition-duration: 0.3s;
}
[id^="menu"] li{
    padding: 10px 10px 10px 20px;
}
